.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #51abb0;
}

body { 
  font-family: Garamond, serif;
  font-size: 16px;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 46px;
}



  
  
