h1#site-title {
  font-family: Helvetica, sans-serif;
  font-size: 72px;
  text-align: center;
}

body { 
  font-family: Garamond, serif;
  font-size: 16px;
}

h1#article-title {
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
}

img {
  float: center;
  max-width: 100%;
  height: auto;  
}

.nav-container {
  text-align:center;
}

.nav-container ul {
  list-style: none;
  padding: 0;
}

.nav container li {
  display: inline;
  margin: 0 10px;
}

nav {
  font-family: Helvetica, sans-serif;
}

p {
  margin-right: 300px;
  margin-left: 300px;
  font-family: Helvetica, sans-serif;
}

H2 {
  font-family: Helvetica, sans-serif;
  text-align: left;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
  
