
header p {
  text-align: center;
}

header figure {
  border: 3px solid black;
  padding: 30px;
  text-align: center;
}

p img {
  float: right;
  max-width: 60%;
  padding: 12px;
}

p {
  font-family: helvetica;
}

a{
  font-weight: bold;
  color: blueviolet;
}

h1#site-title {
  font-size: 72px;
  color: blueviolet;
  text-align: center;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  paddint-left:0;
}

h1#article-title {
  font-size: 60px;
  font-weight: bold;
}

figure.main-image {
  background: rgb(46, 91, 91);
  border-color: rgb(125, 197, 9);
  color: white;
}

figure.section-image odd {
  float: right;
  margin-left: 20px;
}

figure.section-image even {
  float: left;
  margin-right: 20px;
}

img {
  max-width:100%;
  height: auto;
}
